<!DOCTYPE html>
<html lang="fr">

	{% load static %}

	<head>
		<title> Speech to Maths</title>
		<link rel="stylesheet" href={% static "css/style.css" %}> 
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
	</head>
	
	<body>
		

		
		<nav>
			<ul>
				<li> Speech to Maths </li>
				<li> Découvrir notre produit </li>
				<li> Qui sommes-nous ?</li>
				<li> Contact</li>
			</ul>
			
			<span class = "a_droite"> Connexion </span>
		</nav>
		
		<div class = "page-pleine">
			<article>
				<div class = "boite-content">
				<h1> Faire des maths un jeu d'enfant</h1>
				<h2> Speech to Maths permet de dicter des documents LaTeX. Tout simplement. </h2>
				<h3> Découvrez Speech to Maths </h3>
			</article>	
		</div>
		
		<div class = "boites"> 
		
			<div class = "boite">
				<div class = "boite-content"> 
				<h1> Truc sur notre techno </h1>
				<h2> Sous-truc sur notre techno ! </h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>	
			</div>	
			
			<div class = "boite">
				<div class = "boite-content"> 
				<h1> Truc sur notre équipe </h1>
				<h2> Sous-truc sur notre équipe ! </h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
			
			<div class = "boite">
				<div class = "boite-content"> 
				<h1> Truc sur l'X et autres </h1>
				<h2> Sous-truc sur l'X etc. ! </h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
				</div>
			</div>
			
		</div>
		
	</body>

</html>