.doc_top_bar {
	padding : 0;
	margin : 0;
	width : 100%;
	background-color : rgba(0,153,255,1);
	text-align : left;
	position : fixed;
}

.doc_top_bar a h3 {
	display : inline-block;
	color : white;
	transition : color .1s, background-color .1s;
	background-color : rgba(0,153,255,1);;
}

.doc_top_bar a {
	display : inline-block;
	padding : .5em;
	margin-right : 1em;
	background-color : rgba(0,153,255,1);
	transition : color .1s, background-color .1s;
}

.doc_top_bar a:hover, .doc_top_bar a:hover h3 {
	background-color : white;
	color : rgba(0,153,255,1);
}

.doc_top_bar input {
	min-width : 32em;
	display : inline;
	padding : .6em;
	border-radius : .3em;
	border : none;
	margin : 0;
}

.doc_top_bar input:focus, .doc_top_bar input:hover{
	box-shadow : 0 0 .3em #001f33;
}

.doc_top_bar .bouton {
	min-width : 8em;
	background-color : white;
}

.doc_content {
	background-color : #e6e6e6;	
	min-height : 80vh;
	padding : 10vh;
	margin : 0;
}

.doc_content textarea {
	height : 76vh;
	padding : 0;
	margin : 0;
	border : 0;
	width : 100%;
	text-align : left;
	vertical-align : top;
}

.text_container {
	padding : 2vh;
	border-radius : 1em;
	background-color : white;
}

.ligne {
	display : inline-block;
}