html, body {
    margin: 0;
    min-width: 1024px;
	min-height : 100vh;
}

nav {
    min-width: 1024px;
    width: 100%;
    position: fixed;
    padding: 1em;
    z-index: 1;
}

button {
    padding: .6em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

article {
    padding: 2em;
}

article form ul {
    display: inline;
}

.main-nav li {
    margin: 0 .8em;
}

.main-nav li,
.main-nav ul {
    display: inline;
    padding: 0;
}

article form ul {
    display: inline;
}

form table {
    width: 100%;
}

form li {
    display: inline;
}

input {
    display: inline;
    margin: 0 .5em;
    padding: .3em;
    border-radius: .3em;
    border: none;
}

.jumbo-section {
    padding: 1em;
}

.to-the-right {
    position: absolute;
    right: 0;
    margin-right: 2em;
    padding-right: inherit;
}

.centered-content {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.nav_filler {
    padding: 1em;
}

.full-height {
    min-height: 100vh;
}

.main-nav .reversed-colors-nav {
    padding: 1em;
    margin: -1em;
    margin-right: 0em;
}

.top-bar,
.top-bar-filler {
    padding: 1em;
    border-bottom: 1px white;
}

.top-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-width: 1024px;
}

.top-bar a {
    padding: 1.5em 0 1.5em 1.5em;
    margin: -1.5em 0 -1.5em -1.5em;
}

.top-bar h3,
.top-bar-filler h3 {
    margin: 0 1em 0 0;
    display: inline-block;
}

.top-bar i {
    margin: 0 .2em;
}

.top-bar input {
    min-width: 512px;
    padding: .6em;
}

.top-bar form {
    display: inline-block;
}

.docs-table {
    width: 100%;
    border-collapse: collapse;
}

.docs-table td,
.docs-table th {
    width: 25%;
    vertical-align: top;
    padding: .5em 2em;
    text-align: left;
}

.docs-table td:first-child,
.docs-table th:first-child {
    width: 50%;  
}

.doc-content {
    padding: 10vh;
    min-height: 80vh;
}

.doc-content textarea {
    height: 76vh;
    width: 100%;
    margin: 0;
    border: 0;
    resize: vertical;
}

.text-container {
    padding: 2vh;
    border-radius: 1em;
    cursor: text;
}

.form-section {
    padding: 2em;
}

.form-section button {
    margin: auto;
}

.form-section .errorlist {
    padding: 0;
}

.form-section h2 {
    margin: 0;
    padding: 0;
}

.form-section-title {
    display: block;
    margin: -2em -2em 1em -2em;
    padding: 2em 2em 1em 2em;
}

.form-section table {
    width: 100%;
}

.form-section table td {
    width: 50%;
}

.text-editor-button {
    border-radius: 0;
    border : 0;
    margin: 0;
}

.text-editor-button-group {
    display: inline-block;
    border-right : 2px solid #e6e6e6;
}

.tool-bar {
    position: fixed;
    width : 100%;
    border-bottom : 2px solid #e6e6e6;
}

.tool-bar .text-editor-button-group:first-child {
    margin-left : 1em;
    border-left : 2px solid #e6e6e6;
}


/* En developpement */

.audio-display {
    display : inline-block;
    color : white;
    position : fixed;
    left : 0;
    top : 0;
    z-index: 777;
    background-color: black;
}



.jumbo-section-sub-2, .jumbo-section-sub-3, .jumbo-section-sub-4 {
    display : inline-block;
    border-radius: 1em;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
}

.jumbo-section-sub-2{
    width: 40%;
    margin : 0 2.5%;
    padding: 0 2.5%;
}

.jumbo-section-sub-3{
    width: 21%;
    margin : 0 3.1%;
    padding: 0 3%;
}

.jumbo-section-sub-4{
    width: 21%;
    margin : 0 1%;
    padding: 0 1%;
}


.jumbo-section-sub-2 img, .jumbo-section-sub-3 img, .jumbo-section-sub-4 img {
    max-width: 100%;
}

.jumbo-section-container {
    margin : 2em 0;
}

