article {
	background-color : rgba(0,153,255,.9);
	padding : 2em;
	color : white;
	text-align : left;
	transition : font-size .5s;
	margin : 0;
}

article a:hover {
	color : white;
	text-decoration : underline;
}

article, .boite {
	transition : padding .5s;
}

article:hover, .boite:hover {
	padding-bottom : 8em;
}

body {
	margin : 0;
	background : 0;
	text-align : center;
	font-family: 'Lato', sans-serif;
	color : #001f33;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size : 3em;
	text-decoration : none;
}

h2 {
	font-size : 1.5em;
}

nav {
	font-family: 'Varela Round', sans-serif;
	width : 100%;
	position : fixed;
	text-align : left;
	background-color : rgba(255,255,255,1);
	padding : 1em;
	z-index : 1;
}

nav li {
	display : inline;
	margin : 0 1em 0 1em;
}

nav ul {
	display : inline;
}

.a_droite {
	right : 0;
	margin-right : 4em;
	position : absolute;
}

.boites {
	text-align : center;
}

.boite {
	text-align : center;
	padding : 1em;
}

.boites div .boite-content, article .boite-content  {
	max-width : 1024px;
	text-align : justify;
	margin : auto;
}

.page-pleine{
	min-height : 100vh;
}

.boites .boite:nth-child(3n+1) {
	background-color : rgba(0,153,255,.9);
	color : white;
}

.boites .boite:nth-child(3n+2) {
	background-color : rgba(255,255,255,.9);
}

.boites .boite:nth-child(3n+3) {
	background-color : rgba(0,153,255,.9);
	color : white;
}

a {
	color : inherit;
	text-decoration : none;
}

a:hover {
	color : rgba(0,153,255,1);
}

button {
	style : none;
	font-family: 'Varela Round', sans-serif;
	background-color : white;
	padding : .6em;
	border-radius : .3em;
	border : none;
}

button:hover {
	box-shadow : 0 0 .3em #001f33;
}

.no-zoom:hover {
	font-size : 1em;
}

.special_nav {
	background-color : rgba(0,153,255,1);
	color : white;
	height : 100%;
	padding : 1em;
	margin : -1em;	
	margin-right : 0em;
	transitransition : background-color .1s, color .1s;
}

.special_nav:hover {
	background-color : white;
	color : #001f33;
}

article form table{
	width : 100%;
}

article form ul {
	display : inline;
}

.barre_laterale {
	width : 256px;
	background-color : orange;
	position : fixed;
	height : 100vh;
	z-index : -1;
}

.nav_filler {
	padding : 1em;
}

.top_list {
	padding : 1em;
	text-align : left;
	background-color : rgba(0,153,255,1);
	vertical-align : text-bottom;
	color : white;
}

input {
	font-family : inherit;
}

.top_list input {
	min-width : 512px;
	display : inline;
	margin : 0 .5em;
	padding : .6em;
	border-radius : .3em;
	border : none;
}

.top_list input:focus {
	box-shadow : 0 0 .3em #001f33;
}

.top_list i {
	margin : 0 .2em;
}

.top_list h2{
	margin : 0;
	display : inline-block;
	margin-right : 1em;
}

.content_list table {
	width : 100%;
}

.content_list table .affiche:first-child {
	border-top : #e6e6e6 1px solid;
}

.content_list table td, .content_list table th {
	padding : .5em;
	margin : 0;
	border-bottom : #e6e6e6 1px solid;
	transition : background-color .1s, color .1s;
	text-align : left;
	padding-left : 2em;
}

.content_list table tr {
	padding : 0;
	margin : 0;
}

.content_list table {
	border-collapse: collapse;
}

.cache {
	display : none;
}

.content_list table td:nth-child(1), .content_list table th:nth-child(1) {
	width : 50%;
}

.content_list table td:nth-child(2), .content_list table th:nth-child(2) {
	width : 25%;
}

.content_list table td:nth-child(3), .content_list table th:nth-child(3) {
	width : 25%;
}

.supprimer:hover {
	color : #ff4d4c;
}

.content_list tr:hover {
	background-color : #e6e6e6;
}

.top_list {
	position : fixed;
	width : 100%;
	z-index : 1;
}