/* Définition des animations */

@keyframes tremblotte {
	0%, 50%, 100% {
		transform : rotate(0);
	}
	25% {
		transform : rotate(3deg);
	}
	75% {
		transform : rotate(-3deg);
	}
}

/* Définition des styles généraux */

a {
	color : inherit;
	text-decoration : none;
}

a:hover {
	color : #09f;
}

article {
	background-color : rgba(0,153,255,.9);
	padding : 2em;
	color : white;
}

article a:hover {
	color : inherit;
	text-decoration : underline;
}

article form ul {
	display : inline;
}

article, .boite {
	transition : .5s;
}

article:hover, .boite:hover {
	padding-bottom : 8em;
}

body {
	margin : 0;
	background : 0;
	font-family: 'Lato', sans-serif;
	color : #001f33;
}

button {
	padding : .6em;
	border-radius : .3em;
	border : none;
	cursor : pointer;
}

button, h1, nav {
	font-family: 'Varela Round', sans-serif;
}

button, nav {
	background-color : white;
}

button:hover, input:focus, input:hover {
	box-shadow : 0 0 .3em #001f33;
}

form table {
	width : 100%;
}

form li {
	display : inline;
}

h1 {
	font-size : 3em;
}

h2 {
	font-size : 1.5em;
}

input {
	display : inline;
	margin : 0 .5em;
	padding : .3em;
	border-radius : .3em;
	border : none;
}

nav {
	width : 100%;
	position : fixed;
	padding : 1em;
	z-index : 1;
}

nav li {
	margin : 0 1em;
}

nav li, nav ul {
	display : inline;
	padding : 0;
}

/* Classes transversales */

.a-droite {
	right : 0;
	margin-right : 2em;
	position : absolute;
	padding-right : inherit;
}

.contenu-cintre {
	max-width : 1024px;
	text-align : justify;
	margin : auto;
}

.dangerous-input {
	background-color : #f44;
	color : white;
}

.dangerous-input:hover {
	box-shadow : 0 0 .3em #f44;
	animation-name : tremblotte;
	animation-duration : .2s;
	animation-iteration-count : infinite;
}

.form-on-white input, .form-on-white button {
	background-color : #e6e6e6;
}

.form-on-white input:hover, .form-on-white button:hover {
	box-shadow : 0 0 .1em #001f33;
}

.nav_filler {
	padding : 1em;
}

.page-pleine {
	min-height : 100vh;
}

.special-nav {
	background-color : #09f;
	color : white;
	padding : 1em;
	margin : -1em;	
	margin-right : 0em;
	transition : background-color .1s, color .1s;
}

.special-nav:hover {
	background-color : inherit;
	color : inherit;
}

.top-bar {
	padding : 1em;
	background-color : #09f;
	color : white;
	position : fixed;
	width : 100%;
	z-index : 1;
}

.top-bar a {
	padding : 1.5em 0 1.5em 1.5em;
	margin : -1.5em 0 -1.5em -1.5em;
}

.top-bar a:hover {
	background-color : white;
}

.top-bar h3{
	margin : 0 1em 0 0;
	display : inline-block;
}

.top-bar i {
	margin : 0 .2em;
}

.top-bar input {
	min-width : 512px;
	padding : .6em;
}

/* Classes de l'index */

.boite {
	background-color : rgba(255,255,255,.9);
	padding : 1em;
}

.boite:nth-child(2n) {
	background-color : rgba(0,153,255,.9);
	color : white;
}

/* Classes de mes documents */

.cache {
	display : none;
}

.confirm {
	display : none;
	height : 100vh;
	width : 100%;
	background-color : rgba(0,0,0,.5);
	z-index : 3;
	position : fixed;
	left : 0;
	top : 0;
	text-align : center;
}

.confirm a:hover {
	color : inherit;
}

.docs-table {
	width : 100%;
	border-collapse: collapse;
}

.docs-table td, .docs-table th{
	width : 25%;
	padding : .5em 2em;
	border-bottom : #e6e6e6 1px solid;
	text-align : left;
}

.docs-table th{
	cursor : pointer; 
}

.docs-table td:first-child, .docs-table th:first-child {
	width : 50%;
}

.docs-table tr:hover {
	background-color : #e6e6e6;
}

.question {
	display : inline-block;
	padding : 2em;
	border-radius : 1em;
	margin-top : 10vh;
	background-color : white;
	text-align : center;
}

.question ul li {
	display : inline-block;
	margin : .5em;
	padding : .5em;
	border-radius : .5em;
	border : 1px solid #001f33;	
}

.question ul li:hover{
	background-color : #09f;
	color : white;
	border-color : #09f;
	cursor : pointer;
}

.supprimer:hover {
	color : #f44;
	cursor : pointer;
}

/* Classes de document */

.doc-content {
	background-color : #e6e6e6;	
	padding : 10vh;
	min-height : 80vh;
}

.doc-content textarea {
	height : 76vh;
	width : 100%;
	margin : 0;
	border : 0;
	resize : vertical;
}

.text-container {
	padding : 2vh;
	border-radius : 1em;
	background-color : white;
}

/* Classes de mon compte */

.compte-section {
	padding : 2em;
	border-radius : 1em;
	border : 1px solid #001f33;	
	margin : 1em 0 ;
}

.compte-section span {
	display : block;
	margin : -2em -2em 1em -2em;
	padding : 2em 2em 1em 2em;
	background-color : #09f;
	border-radius : 1em 1em 0 0;
}

.compte-section h2 {
	margin : 0;
	padding : 0;
	color : white;
}

.dangerous-section span {
	background-color : #f44;
}