{% load static %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<title> {% block title %} {% endblock %}</title>
		 <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">  
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">  

		<link href="{% static "css/animations_and_misc.css" %}" rel="stylesheet">
		<link href="{% static "css/fonts_and_colors.css" %}" rel="stylesheet">
		<link href="{% static "css/layout.css" %}" rel="stylesheet">
		
		<link rel="stylesheet" href={% static "font/font-awesome-4.7.0/css/font-awesome.min.css" %}>
		<link rel="apple-touch-icon" type="image/png" href={% static "img/favicon-192.png" %} sizes="192x192">
		<link rel="icon" type="image/png" href={% static "img/favicon-192.png" %} sizes="192x192">
		<link rel="icon" type="image/png" href={% static "img/favicon-96.png" %} sizes="96x96">
		<link rel="icon" type="image/png" href={% static "img/favicon-64.png" %} sizes="64x64">
		<link rel="icon" type="image/png" href={% static "img/favicon-48.png" %} sizes="48x48">
		<link rel="icon" type="image/png" href={% static "img/favicon-16.png" %} sizes="16x16">
		<link rel="icon" type="image/png" href={% static "img/favicon-32.png" %} sizes="32x32">
		<meta charset="UTF-8">

		{% block head %}{% endblock %}
		
	</head>
	<body>
	
		{% block nav %}
		<nav class = "main-nav">
			<ul>
				<a href = "{% url "index" %}"><!----><li> Speech to Maths</li></a> 
				<a href = "{% url "index" %}#techno"><li> Notre technologie</li></a>
				<a href = "{% url "index" %}#equipe"><li> Qui sommes-nous ?</li></a>
				<a href="mailto:contact@s2m.io?subject=Question"> Contact </a> 
			</ul>
			
			{% if user.is_authenticated %}
			<span class = "to-the-right"> 
				<ul>
					<li> 
						<a href = "{% url "account" %}"><!---->
							<strong> {{ user.username }} </strong> 
						</a> 
					</li>
					<li> 
						<a href = "{% url "documents" %}"><!---->
							<i class="fa fa-list" aria-hidden="true"> </i> &nbsp; 
							Documents 
						</a> 
					</li>
					<li> 
						<a href = "{% url "log_out" %}"><!---->
							<i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; 
							Déconnexion 
						</a> 
					</li>
				</ul>
			</span>
			
			{% else %}
			<span class = "to-the-right"> 
				<ul> 
					<li class = "reversed-colors-nav"> 
						<a href = "{% url "sign_up" %}"><!---->
							<i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp;
							Inscription 
						</a> 
					</li> 
					<li> 
						<a href = "{% url "sign_in" %}"><!---->
							<i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; 
							Connexion 
						</a> 
					</li> 
				</ul> 
			</span>
			
			{% endif %}
		</nav>
		<div class = "nav_filler"> &nbsp; </div>
		{% endblock %}
			
		{% block content %}{% endblock %}
		
	</body>
</html>