{% load static %}

<!DOCTYPE html>
<html lang="fr">

	<head>
		<title> {% block title %} {% endblock %}</title>
		<link rel="stylesheet" href={% static "css/style.css" %}> 
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
		<link rel="stylesheet" href={% static "font/font-awesome-4.7.0/css/font-awesome.min.css" %}>
		<meta charset="UTF-8">
		
		{% block head %} {% endblock %}
		
	</head>
	
	<body>
	
		{% block nav %}
		
		<nav>
			<ul>
				<a href = "{% url "index" %}"><!----><li> Speech to Maths</li></a> 
				<a href = "{% url "index" %}#techno"><li> Notre technologie</li></a>
				<a href = "{% url "index" %}#equipe"><li> Qui sommes-nous ?</li></a>
				<a href="mailto:contact@s2m.io?subject=Question"> Contact </a> 
			</ul>
			
			{% if user.is_authenticated %}
			<span class = "a-droite"> 
				<ul>
					<li> Connecté en tant que 
						<a href = "{% url "docs" %}"><!---->
							<strong> {{ user.username }} </strong> 
						</a> 
					</li>
					<li> 
						<a href = "{% url "docs" %}"><!---->
							<i class="fa fa-list" aria-hidden="true"> </i> &nbsp; 
							Mes documents 
						</a> 
					</li>
					<li> 
						<a href = "{% url "deconnexion" %}"><!---->
							<i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; 
							Déconnexion 
						</a> 
					</li>
				</ul>
			</span>
			
			{% else %}
			<span class = "a-droite"> 
				<ul> 
					<li class = "special-nav"> 
						<a href = "{% url "inscription" %}"><!---->
							<i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp;
							Inscription 
						</a> 
					</li> 
					<li> 
						<a href = "{% url "connexion" %}"><!---->
							<i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; 
							Connexion 
						</a> 
					</li> 
				</ul> 
			</span>
			
			{% endif %}
			
		</nav>
		
		<div class = "nav_filler"> &nbsp; </div>
		
		{% endblock %}
			
		{% block content %} {% endblock %}
		
	</body>

</html>