{% extends "base_with_background_image.html" %}
{% load static %}

{% block title %} Mes documents {% endblock %}
{% block img_link %}{% static "img/woman_looking_at_the_stars.jpg" %}{% endblock %}
{% block content %} 
<div class = "top-bar">	
	<h3> 
		Mon compte &nbsp;
		<i class="fa fa-user" aria-hidden="true"></i> &nbsp;
		{{ user.username }}
	</h3>
</div>

<div class = "top-bar-filler"> <h3> &nbsp; </h3> </div>

<div class = "centered-content">
	<section class = "form-section"  id = "inf_div"> 
		<span class = "form-section-title"> <h2> <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;
Infomations diverses </h2> </span>
		<table>
			<tr> 
				<td> <strong> Nom d'utilisateur </strong> </td>
				<td> {{ user.username }} </td>
			</tr>			
			<tr> 
				<td> <strong> Date de création du compte </strong> </td>
				<td> {{ user.date_joined|date:'d F Y' }} </td>
			</tr>
		</table>
	</section>
	
	<section class = "form-section"  id = "mod_ema">
		<span class = "form-section-title"> <h2> <i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; Modifier adresse email </h2> </span>
		<form method = "POST" id = "changer_email" class = "form-on-white">
			{% csrf_token %}
			<table> {{ email_form }} </table>
			<br>
			<button type = "submit" name = "Changer adresse email" form = "changer_email"> 
				Enregistrer nouvel email
			</button> 
		</form>
	</section>		
	
	<section class = "form-section" id = "mod_mdp">
		<span class = "form-section-title"> <h2> <i class="fa fa-unlock-alt" aria-hidden="true"></i>
&nbsp; Modifier mot de passe </h2> </span>
		<form method = "POST" id = "changer_mdp"  class = "form-on-white">
			{% csrf_token %}
			<table> {{ password_form }} </table>
			<br>
			<button type = "submit" name = "Changer mot de passe" form = "changer_mdp"> 
				Changer de mot de passe
			</button> 
		</form>
	</section>	
	
	<section class = "form-section dangerous-section" id = "sup_com">
		<span class = "form-section-title"> <h2> <i class="fa fa-trash" aria-hidden="true"></i>
&nbsp; Supprimer mon compte </h2> </span>
		<form method = "POST" id = "suppresion_compte">
			{% csrf_token %}
			<table class = "form-on-white">	{{ suppression_form }} </table>
			<br>
			<button type = "submit" name = "Suppresion compte" form = "suppresion_compte" class = "dangerous-input"> 
				Supprimer mon compte
			</button> 
		</form>
	</section>
</div>
{% endblock %}