{% extends "base.html" %}
{% load static %}

{% block title %} Mes documents {% endblock %}
{% block head %} 
{% endblock %}
{% block content %} 
	
	<div class = "top-bar">	
		<h3> 
			Mon compte &nbsp;
			<i class="fa fa-user" aria-hidden="true"></i> &nbsp;
			{{ user.username }}
		</h3>
		
	</div>
	
	<div class = "filler"> <h2> &nbsp; </h2> </div>
	
	<div class = "contenu-cintre">
		
		<div class = "compte-section">
			<span> <h2> Informations diverses </h2> </span>
			<table>
				<tr> 
					<td> Nom d'utilisateur </td>
					<td> {{ user.username }} </td>
				</tr>			
				<tr> 
					<td> Date de création du compte </td>
					<td> {{ user.date_joined|date:'d F Y' }} </td>
				</tr>
			</table>
		</div>	
		
		<div class = "compte-section">
			<span> <h2> Modifier adresse email </h2> </span>
			<form method = "POST" id = "changer_email" class = "form-on-white">
				{% csrf_token %}
				<table> {{ email_form }} </table>
				<br>
				<button type = "submit" name = "Changer adresse email" form = "changer_email"> 
					Enregistrer nouvel email
				</button> 
			</form>
		</div>		
		
		<div class = "compte-section">
			<span> <h2> Modifier mon mot de passe </h2> </span>
			<form method = "POST" id = "changer_mdp"  class = "form-on-white">
				{% csrf_token %}
				<table> {{ password_form }} </table>
				<br>
				<button type = "submit" name = "Changer mot de passe" form = "changer_mdp" class = "input-on-white"> 
					Changer de mot de passe
				</button> 
			</form>
		</div>	
		
		<div class = "compte-section dangerous-section">
			<span> <h2> Supprimer mon compte </h2> </span>
			<form method = "POST" id = "suppresion_compte">
				{% csrf_token %}
				<table class = "form-on-white">	{{ suppression_form }} </table>
				<br>
				<button type = "submit" name = "suppresion_compte" form = "suppresion_compte" class = "dangerous-input"> 
					Supprimer mon compte
				</button> 
			</form>
		</div>
	
	  </div>
	  <table>
	  {{ form }} </table>
	

{% endblock %}