{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %} Documents {% endblock %}
{% block head %} 
{% endblock %}
{% block content %} 
<div class = "top-bar">	

	<a href = "{% url "training" %}">
		<h3>
			<i class="fa fa-graduation-cap" aria-hidden="true"> </i> &nbsp; 
			Entraîner le modèle
		</h3>
	</a> 

	<h3> 
		<i class="fa fa-list" aria-hidden="true"> </i> &nbsp;
		Documents 
	</h3>
	<i class="fa fa-search" aria-hidden="true"></i>
	<input type = "search" name = "search_docs" placeholder = "Recherche" onkeypress="setTimeout(searchDocuments, 0)">

	<span class = "to-the-right">
		<i id = "communication_indicator" class="fa fa-spinner fa-spin" aria-hidden="true" style = "display : none"></i>
		<form id = "_delete" style = "display : none;" method = "POST">
			{% csrf_token %}
			<button type="submit"> 
				<i class="fa fa-trash" aria-hidden="true"></i> &nbsp;
				Supprimer
				<input type = "hidden" value = "" id = "_delete-value" name = 'delete-value'>
			</button> 
		</form>	&nbsp;
		<form action = "{% url "add_doc" %}">
			<button type="submit"> 
				<i class="fa fa-plus-square-o" aria-hidden="true"></i> &nbsp;
				Nouveau document 
			</button> 
		</form>
	</span>
</div>

<table class = "docs-table">

{% if docs %}
	<tr>
		<th onclick = "orderLines(0)"> Titre &nbsp;</th> 
		<th onclick = "orderLines(1)"> <i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;  Auteur &nbsp; </th> 				
		<th onclick = "orderLines(2)"> <i class="fa fa-calendar-o" aria-hidden="true"></i> &nbsp; Dernière modification &nbsp; </th>
	</tr>
{% endif %}

{% for doc in docs %}
	<tr class = "_document" id = "{{ doc.id }}" onclick = "select({{ doc.id }});" ondblclick='window.open("{% url "document" doc.address|stringformat:"s" %}", "_self")'>
		<td> 
			<a href = "{% url 'document' doc.address %}"> 
				<i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
				{{ doc.title }} 
			</a> 
		</td>
		<td> 
			{{ doc.author }}
		</td>
		<td> 
			<time> {{ doc.last_modification_date|naturalday|capfirst }} </time>
			<input type = "hidden" value = "{{ doc.last_modification_date|date:'Y m d'}}">
		</td>
	</tr>

{% empty %}
	<tr> 
		<td> 
			<i class="fa fa-info-circle" aria-hidden="true"> </i> &nbsp; Aucun document
		</td>
	</tr>

{% endfor %}

</table>

<script> 
	var documentsSearchLink = "{% url 'documents_search' %}";
</script>
<script src = "{% static 'js/communicationIndicatorManager.js' %}"> </script>
<script src = "{% static 'js/documents.js' %}"> </script>

{% endblock %}