{% extends "base.html" %}
{% load static %}

{% block title %} {{ doc.titre }} {% endblock %}
{% block head %} {% endblock %}
{% block nav %} {% endblock %}
{% block content %} 
<div class = "top-bar">
	<a href = "{% url "documents" %}"><!---->
		<h3> 
			<i class="fa fa-list" aria-hidden="true"> </i> &nbsp;
			Documents 
		</h3>
	</a>
	<input type = "text" name = "titre" value = "{{ doc.title }}" form = "enregistrement">
	<span class = "to-the-right">
	
		<i id = "communication_indicator" class="fa fa-spinner fa-spin" aria-hidden="true" style = "display : none"></i>
	
		<button id = "start_rec" onclick = "manageRecording();">
			<i class="fa fa-volume-up" aria-hidden="true"></i> &nbsp;
			Commencer la dictée
		</button>
	
		<button  id = "stop_rec" style = "display : none">
			<i class="fa fa-volume-up blinking-icon" aria-hidden="true"></i> &nbsp;
			Arrêter la dictée
		</button>
		&nbsp;

	</span>
</div>	

<div class = "top-bar-filler"> 
	<button type="submit"> 
			<i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
	</button>
</div>

<div
 class = "tool-bar"> 
	<div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Aller en arrière"><i class="fa fa-undo" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Aller en avant"><i class="fa fa-repeat" aria-hidden="true"></i></button>
	</div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Aligner à gauche"><i class="fa fa-align-left" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Aligner au centre"><i class="fa fa-align-center" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Aligner à droite"><i class="fa fa-align-right" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Justifier le texte"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
   </div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Exposant"><i class="fa fa-superscript" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Indice"><i class="fa fa-subscript" aria-hidden="true"></i></button>
	</div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Liste (puces)"><i class="fa fa-list-ul" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Liste (ordonnée)"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
   </div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Insérer un tableau"><i class="fa fa-table" aria-hidden="true"></i></button>
	</div>	
</div>

<div class = "doc-content">
	<div class = "text-container">
		<textarea name = "content" autofocus oninput = "setTimeout(manageContentChange, 0)" onchange = "setTimeout(manageContentChange, 0)">{{ doc.content }}</textarea>
	</div>
</div>

{% if doc.pdf %}
<div class = "doc-content">
	<h3> PDF </h3>
	<iframe src="{{ doc.pdf.url }}" width="1200" height="600" align="middle"></iframe>
</div>
{% endif %}

{% csrf_token %}

<script> 
	var voiceAnalysisLink = "{% url 'voice_analysis' %}";
	var documentSaveLink = "{% url 'save_document' %}"
	var docID = {{ doc.id }};
</script>
<script src = "{% static 'js/communication_indicator_manager.js' %}"> </script>
<script src = "{% static 'js/document.js' %}"> </script>
{% endblock %}