{% extends "base.html" %}
{% load static %}

{% block title %} {{ doc.titre }} {% endblock %}
{% block head %} {% endblock %}
{% block nav %} {% endblock %}
{% block content %} 
<div class = "top-bar">
	<div class = "top-bar-content">
		<a href = "{% url "documents" %}">
			<h3> 
				<i class="fa fa-list" aria-hidden="true"> </i> &nbsp;
				Documents 
			</h3>
		</a>
		<input type = "text" name = "titre" value = "{{ doc.title }}" form = "enregistrement">
		<span class = "to-the-right">
		
			<i id = "communication_indicator" class="fa fa-spinner fa-spin" aria-hidden="true" style = "display : none"></i>
		
			<button id = "start_rec">
				<i class="fa fa-volume-up" aria-hidden="true"></i> &nbsp;
				Commencer la dictée
			</button>
		
			<button  id = "stop_rec" style = "display : none">
				<i class="fa fa-volume-up blinking-icon" aria-hidden="true"></i> &nbsp;
				Arrêter la dictée
			</button>
			&nbsp;

		</span>
	</div>
</div>	

<div class = "tool-bar"> 
	<div class = "text-editor-button-group">
		<button class = "text-editor-button" id = "moveBackward" title = "Aller en arrière (Ctrl + Z)" onclick="contentStateManager.moveBackward();manageQueueButtonsStyle();"><i class="fa fa-undo" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" id = "moveForward" title = "Aller en avant (Ctrl + Y)" onclick="contentStateManager.moveForward();manageQueueButtonsStyle();"><i class="fa fa-repeat" aria-hidden="true"></i></button>
	</div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Aligner à gauche (Ctrl + L)" onclick="addEnvironnement('flushleft');"><i class="fa fa-align-left" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Aligner au centre (Ctrl + E)" onclick="addEnvironnement('center');"><i class="fa fa-align-center" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Aligner à droite (Ctrl + R)" onclick="addEnvironnement('flushright');"><i class="fa fa-align-right" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Justifier le texte (Ctrl + J)" onclick="addEnvironnement('work in progress');"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
   </div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Exposant (Ctrl + ↑)" onclick="sciptElement('exponent');"><i class="fa fa-superscript" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Indice (Ctrl + ↓)" onclick="sciptElement('subscript');"><i class="fa fa-subscript" aria-hidden="true"></i></button>
	</div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Liste (puces)" onclick="listButton('unordered');"><i class="fa fa-list-ul" aria-hidden="true"></i></button><!--
	 --><button class = "text-editor-button" title = "Liste (ordonnée)" onclick="listButton('ordered');"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
   </div><!--
 --><div class = "text-editor-button-group">
		<button class = "text-editor-button" title = "Insérer un tableau"><i class="fa fa-table" aria-hidden="true"></i></button>
	</div>	

	<span class = "to-the-right help-container" >
		&nbsp; <i class="fa fa-question-circle" aria-hidden="true"> </i> 
		<input class = "help-input" type = "text"  id = "help" name = "help" oninput = "getHelp('help')" placeholder = "Taper une formule ici pour obtenir de l'aide" form = "help">
	</span>
</div>

	<div id = "latext-area" class = "latext-area"></div>

{% if doc.pdf %}
<h3> PDF </h3>
<iframe src="{{ doc.pdf.url }}" width="1200" height="1200" align="middle"></iframe>
{% endif %}

<div id="responseDisplay" class = "audio-display"> </div>

{% csrf_token %}

<span id = "hidden-origin" style = "display:none">{{ doc.content }}</span>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX","output/PreviewHTML", "output/NativeMML","output/SVG","output/HTML-CSS"],
  extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js"],
  tex2jax: {
  	inlineMath: [['$','$']],
  	balanceBraces: true,
  	processEnvironments: true,
  	multiLine: false,
  	preview: "TeX",
  },
  TeX: {
    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
    noErrors: {
    	inlineDelimiters: ["$","$"],
    	multiLine: false,
    },
  },
});
</script>
<script src = "{% static 'js/document/contentModification.js' %}"> </script>
<script src = "{% static 'js/document/contentStateManager.js' %}"> </script>
<script src = "{% static 'js/document/audioContentManager.js' %}"> </script>
<script src = "{% static 'js/document/general.js' %}"> </script>
<script src = "{% static 'js/document/latextArea.js' %}"> </script>
<script src = "{% static 'js/manageRecording.js' %}"> </script>
<script src = "{% static 'js/communicationIndicatorManager.js' %}"> </script>
<script> 
	var voiceAnalysisLink = "{% url 'voice_analysis' %}";
	var documentSaveLink = "{% url 'save_document' %}"
	var docID = {{ doc.id }};
	var latextArea = new LatextArea("latext-area", "hidden-origin");
	var helpLink = "{% url 'help-construction' %}";
</script>
{% endblock %}