{% extends "base.html" %}
{% block title %} Speech to Maths {% endblock %}
{% block head %} 
<style>
	body {
		background-image : url("../static/img/background-index.jpeg");
		background-size : cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>
{% endblock %}
{% block content %} 
<div class = "page-pleine">
	<article>
		<div class = "boite-content">
		<h1> Faire des maths un jeu d'enfant</h1>
		<h2> Speech to Maths permet de dicter des documents LaTeX. <br> Tout simplement. </h2>
		<h3> <a href = "#techno"> Découvrez Speech to Maths </a> </h3>
		</div>
	</article>	
</div>

<div class = "boites"> 

	<div class = "boite">
		<div class = "boite-content"> 
		<h1 id = "techno"> Truc sur notre techno </h1>
		<h2> Sous-truc sur notre techno ! </h2>
		<p> {% lorem %} </p>
		</div>	
	</div>	
	
	<div class = "boite">
		<div class = "boite-content"> 
		<h1 id = "equipe"> Truc sur notre équipe </h1>
		<h2> Sous-truc sur notre équipe ! </h2>
		<p> {% lorem %} </p>
		</div>
	</div>
	
	<div class = "boite">
		<div class = "boite-content"> 
		<h1 id = "lx"> Truc sur l'X et autres </h1>
		<h2> Sous-truc sur l'X etc. ! </h2>
		<p> {% lorem %} </p>
		</div>
	</div> 
</div>
{% endblock %}