{% extends "base_with_background_image.html" %}
{% load static %}

{% block title %} Speech to Maths {% endblock %}
{% block img_link %}{% static "img/book_notebook_and_pencil.jpeg" %}{% endblock %}
{% block content %} 
<div class = "full-height">
	<section class = "jumbo-section title-section">
		<div class = "centered-content">
		<h1> Faire des maths un jeu d'enfant</h1>
		<h2> Speech to Maths permet de dicter des documents LaTeX. <br> Tout simplement. </h2>
		<h3> <a class = "keep-color-link" href = "#techno"> Découvrez Speech to Maths </a> </h3>
		</div>
	</section>	
</div>

<section class = "jumbo-section jumbo-section-aleternate-colors">
	<div class = "centered-content"> 
	<h1 id = "techno"> Truc sur notre techno </h1>
	<h2> Sous-truc sur notre techno ! </h2>
	<p> {% lorem %} </p>
	</div>	
</section>

<section class = "jumbo-section jumbo-section-aleternate-colors">
	<div class = "centered-content"> 
	<h1 id = "equipe"> Truc sur notre équipe </h1>
	<h2> Sous-truc sur notre équipe ! </h2>
	<p> {% lorem %} </p>
	</div>
</section>

<section class = "jumbo-section jumbo-section-aleternate-colors">
	<div class = "centered-content"> 
	<h1 id = "lx"> Truc sur l'X et autres </h1>
	<h2> Sous-truc sur l'X etc. ! </h2>
	<p> {% lorem %} </p>
	</div>
</section>
{% endblock %}