{% extends "base.html" %}
{% block title %} Inscription {% endblock %}
{% block head %} 
<style>
	body {
		background-image : url("../static/img/background-index.jpeg");
		background-size : cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>
{% endblock %}
{% block content %} 
<article class = "no-zoom"> 
	<div class = "boite-content"> 
	
		{% if user.is_authenticated %}
		<h2> Vous êtes déjà connecté en tant que {{ user.username|title }} </h2>

		{% else %}
		<h1> Nous rejoindre  </h1>
		<form id = "inscription" method = "post" action = "">
			{% csrf_token %}
			<table>
				{{ form }}
			</table>
			<br>
			<button type = "submit" form = "inscription"> Inscription </button>
		</form>
		
		{% endif %}
	</div>
</article>
{% endblock %}