{% extends "base.html" %}
{% load static %}

{% block title %} Mes documents {% endblock %}
{% block head %} 
{% endblock %}
{% block content %} 
	
	<div class = "top-bar">	
		<h3> 
			<i class="fa fa-list" aria-hidden="true"> </i> &nbsp;
			Mes documents 
		</h3>
		<i class="fa fa-search" aria-hidden="true"></i>
		<input type = "search" name = "search_docs" placeholder = "Recherche" onkeypress="setTimeout(search, 0)">
		<span class = "a-droite">
			<form action = "{% url "add_doc" %}"><!---->
				<button type="submit"> 
					<i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
					Nouveau document 
				</button> 
			</form>
		</span>
	</div>
	
	<div class = "filler"> <h2> &nbsp; </h2> </div>
	
	<table class = "docs-table">
	
	{% if docs %}
		<tr>
			<th onclick = "classer(0)"> Titre &nbsp;</th> 
			<th onclick = "classer(1)"> Auteur &nbsp; </th> 				
			<th onclick = "classer(2)"> Dernière modification &nbsp; </th>
		</tr>
	{% endif %}
	
	{% for doc in docs %}
		<tr class = "_document"> 
			<td> 
				<a href = "{% url "document" doc.id %}"> 
					<i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
					{{ doc.titre }} 
				</a> 
			</td>
			<td> 
				<i class="fa fa-user" aria-hidden="true"></i> &nbsp; {{ doc.auteur }}
			</td>
			<td> 
				<i class="fa fa-calendar-o" aria-hidden="true"></i> &nbsp;
				{{ doc.date_derniere_modification }} 
				<span class = "a-droite"> 
					<span onclick = "confirmation('{% url 'docs' %}?s={{ doc.id }}', '{{ doc.titre }}');" class = "supprimer">
						<i class="fa fa-trash-o" aria-hidden="true"> </i>
					</span>
				</span>
			</td> 
		</tr>

	{% empty %}
		<tr> 
			<td> 
				<i class="fa fa-file-o" aria-hidden="true"></i> &nbsp;
				Aucun document 
			</td> 
		</tr>

	{% endfor %}

	</table>
	
	<div class = "confirm"> 
		<div class = "question"> 
			<h2> Supprimer <span class = "_contenu"> </span> ? </h2>
			<ul> 
				<li> <a href = ""> Supprimer </a> </li> 
				<li> Annuler </li>
			</ul>
		</div>
	</div>
	
	<script src = "{% static 'js/mes_documents.js' %}"> </script>
	<script> search();</script>

{% endblock %}